<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/ecommerce/assets/BL_Favicon_removebg-C3pj2WBz.png"  type="image/x-icon">
    <title>Bombay Luggage</title>
    <script type="module" crossorigin src="/ecommerce/assets/index-BAP6SjI9.js"></script>
    <link rel="stylesheet" crossorigin href="/ecommerce/assets/index-goQgW_qg.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
